.boxScreening {   
    display: none;
    transition-duration: 1s;
    transition-timing-function: ease-in;
    transition-delay: 0.3s;
}  
.fa-crop{
    cursor: pointer;
}
.boxScreening-active {
    display: inline;
  }
