<div>
  <h2>Campaigns</h2>
  <button class=" btn createNewBtn" routerLink="/campaignnew">New Campaign</button>
</div>
  
<div class="table-responsive  col-12">
  <table id="mytable" class="table table-bordred table-striped">
    <thead>
      <th>Name</th>
      <th>Client</th>
      <th>StartDate</th>
      <th>EndDate</th>
      <th>Status</th>
      <th></th>
    </thead>
    <tr *ngFor="let campaign of campaigns$ | async ">
        <td>{{campaign.name}}</td>
        <td>{{campaign.client}}</td>
        <td>{{campaign.startDate}}</td>
        <td>{{campaign.endDate}}</td>

        <ng-template *ngIf="campaign.status else True">
          <td>Not Active</td>
        </ng-template>
        <ng-template #True>
          <td>Active</td>
        </ng-template>
        <td><button class="btn btn-success" routerLink="/campaigndetail/{{campaign.campaignId}}">Details</button></td>

    </tr>

  </table>
</div>