<h2>Job Application Detail</h2>

<div class="table-responsive " *ngIf="(jobapplication$ | async) as jobapplication else loading">
  <table id="mytable" class="table table-bordred table-striped detailPageTable border">
    <tr>
      <th>Campagne: </th>
      <td>{{jobapplication.campaign.name}}</td>
    </tr>
    <tr>
      <th>Candidate: </th>
      <td>{{jobapplication.candidate.firstName}} {{jobapplication.candidate.lastName}}</td>
    </tr>
    <tr>
      <th>Email:</th>
      <td>{{jobapplication.candidate.email}}</td>
    </tr>
    <tr>
      <th>Phone:</th>
      <td>{{jobapplication.candidate.phone}}</td>
    </tr>
    <tr>
      <th>Status:</th>
      <td>{{jobapplication.status.description}}</td>
    </tr>
    <tr>
      <th>CV:</th>
      <td>
        <a href="http://localhost:59089/api/Files/{{jobapplication.cv.id}}" (click)="getDocument($event, jobapplication.cv.fileName)">{{jobapplication.cv.fileName}}</a>
      </td>
    </tr>
    <tr>
      <th>Motivation:</th>
      <td>
        <a href="http://localhost:59089/api/Files/{{jobapplication.motivation.id}}" (click)="getDocument($event, jobapplication.motivation.fileName)">{{jobapplication.motivation.fileName}}</a>
      </td>
    </tr>
  </table>
  <button (click)="showDialog = !showDialog;" class="float-right btn btn-danger btn-xs">reject!</button>
  
  <app-reject-popup [visible]="showDialog"></app-reject-popup>
  
  <section name="selection-procedure-steps">
    <app-screening></app-screening>
  </section>

 <div class="text-center backBtn">
   <button class="btn btn-success" (click)="goBack()">go back</button>
</div> 

</div>

<ng-template #loading>
  Loading...
</ng-template>