<div class="table-responsive " *ngIf="(jobapplication$ | async) as jobapplication else loading">
  <h2>Job Application Detail <small class="sub-title badge badge-dark">{{jobapplication.id}}</small></h2>
  <hr>
  <section name="candidate-campaign-readonly">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <section class="candidate-readonly">
          <header>
            <a href="#" title="View">
              <span class="fas fa-eye float-right"></span>
            </a>
            <h3>{{jobapplication.candidate.firstName}} {{jobapplication.candidate.lastName}}</h3>
            <hr>
          </header>
          <main>
            <div>
              <span class="label-title">Candidate Id: </span>
              <span class="badge badge-secondary">
                  {{jobapplication.candidate.id}}
              </span>
            </div>
            <div>
              <span class="label-title">
                E-mail:
              </span>
              {{jobapplication.candidate.email}}
            </div>
            <div>
              <span class="label-title">
                Phone:
              </span>
              {{jobapplication.candidate.phone}}
            </div>
            <div>
              <span class="label-title">
                CV:
              </span>
              <a href="http://localhost:59089/api/Files/{{jobapplication.cv.id}}" (click)="getDocument($event, jobapplication.cv.fileName)">{{jobapplication.cv.fileName}} <span class="fas fa-file-download"></span></a>
            </div>
            <div>
                <span class="label-title">
                  Motivation:
                </span>
                <a href="http://localhost:59089/api/Files/{{jobapplication.motivation.id}}" (click)="getDocument($event, jobapplication.motivation.fileName)">{{jobapplication.motivation.fileName}} <span class="fas fa-file-download"></span></a>
              </div>
            </main>
        </section>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <section class="campaign-readonly">
          <header>
            <a href="#" title="View">
              <span class="fas fa-eye float-right"></span>
            </a>
            <h3>{{jobapplication.campaign.name}}</h3>
            <hr>
          </header>
          <main>
            <div>
              <span class="label-title">Campaign Id: </span>
              <span class="badge badge-secondary">
                  {{jobapplication.campaign.campaignId}}
              </span>
            </div>
          </main>
        </section>
      </div>
    </div>
  </section>
  <section name="application-control-section" class="application-control-section">
    <span class="float-left">
      <button type="button" class="btn btn-success btn-md">
        <span class="fas fa-check"></span>Phone screening
      </button>
    </span>
    <span class="float-right">
      <button (click)="showDialog = !showDialog;" class="float-right btn btn-danger btn-md">Reject job application</button>
    </span>
  </section>

  <app-reject-popup [visible]="showDialog"></app-reject-popup>

  <section name="selection-procedure-steps">
    <app-screening></app-screening>
  </section>

  <div class="text-center backBtn">
   <button class="btn btn-success" (click)="goBack()">go back</button>
  </div>

</div>

<ng-template #loading>
    <h2>Job Application Detail</h2>
    Loading...
</ng-template>
