<h2>Candidate Detail</h2>

<div class="table-responsive detailPageTable" *ngIf="(candidate$ | async) as candidate else loading">
  <form [formGroup]="newJobApplicationForm" (ngSubmit)="createJobApplication(newJobApplicationForm.value)">
    <table id="mytable" class="table table-bordred table-striped  ">
      <tr>
        <th class="col-4">Id: </th>
        <td class="col-8">{{candidate.id}}</td>
      </tr>
      <tr>
        <th>FirstName: </th>
        <td>{{candidate.firstName}}</td>
      </tr>
      <tr>
        <th>LastName: </th>
        <td>{{candidate.lastName}}</td>
      </tr>
      <tr>
        <th>Email:</th>
        <td><a href="mailto:{{candidate.email}}">{{candidate.email}}</a></td>
      </tr>
      <tr>
        <th>Phone:</th>
        <td>{{candidate.phone}}</td>
      </tr>
      <tr>
        <th>LinkedIn:</th>
        <td><a href="http://{{candidate.linkedIn}}" target="_blank">{{candidate.linkedIn}}</a></td>
      </tr>
      <tr>
        <th>Comment:</th>
        <td>{{candidate.comment}}</td>
      </tr>

    </table>

    <div id="addCampaign">
      <h5>Add candidate to campaign</h5>
      <select formControlName="campaignId" id="item">
        <option disabled hidden [value]="selectUndefinedOptionValue">-- select --</option>
        <option *ngFor="let campaign of campaigns" [value]="campaign.campaignId">
          {{campaign.name}}
        </option>
      </select>
      <input type="hidden" formControlName="candidateId" [ngModel]="candidateId">
      <button class="btn btn-success" id="item" type="submit">New JobApplication</button>
    </div>
  </form>
</div>

<ng-template #loading>
  Loading...
</ng-template>
<button class="btn btn-success" (click)="goBack()">go back</button>