<div class="table-responsive ">
  <h2>Candidate Detail <small class="sub-title badge badge-dark">{{candidate.id}}</small></h2>
  <hr>
  <div class="table-responsive detailPageTable" *ngIf="(candidate$ | async) as candidate else loading">
    <section class="candidate-readonly">
      <header>
        <h3>{{candidate.firstName}} {{candidate.lastName}}</h3>
        <hr>
      </header>
      <main>
        <table>
          <tr>
            <th>FirstName: </th>
            <td>{{candidate.firstName}}</td>
          </tr>
          <tr>
            <th>LastName: </th>
            <td>{{candidate.lastName}}</td>
          </tr>
          <tr>
            <th>Email:</th>
            <td><a href="mailto:{{candidate.email}}">{{candidate.email}}</a></td>
          </tr>
          <tr>
            <th>Phone:</th>
            <td>{{candidate.phone}}</td>
          </tr>
          <tr>
            <th>LinkedIn:</th>
            <td><a href="http://{{candidate.linkedIn}}" target="_blank">{{candidate.linkedIn}}</a></td>
          </tr>
          <tr>
            <th>Comment:</th>
            <td>{{candidate.comment}}</td>
          </tr>
        </table>
      </main>
    </section>
    <hr>
    <div id="addCampaign">
      <section class="candidate-readonly">
        <header>
          <h3>Add candidate to campaign</h3>
          <hr>
        </header>
        <main>
          <form [formGroup]="newJobApplicationForm" (ngSubmit)="create(newJobApplicationForm.value, cv.files, motivation.files)">
            <table>
              <tr>
                <th>
                  Select campaign to apply for:
                </th>
                <td>
                  <select formControlName="campaignId" id="campaignId" required class="custom-select">
                    <option disabled hidden [value]="selectUndefinedOptionValue">-- select --</option>
                    <option *ngFor="let campaign of campaigns" [value]="campaign.campaignId">
                      {{campaign.name}}
                    </option>
                  </select>
                </td>
              </tr>
              <tr>
                <th>
                  Curiculum Vitea:
                </th>
                <td>
                  <div class="input-group">
                    <div class="custom-file">
                      <input #cv type="file" class="custom-file-input">
                      <label class="custom-file-label">Choose CV</label>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>
                  Motivation letter:
                </th>
                <td>
                  <div class="input-group">
                    <div class="custom-file">
                      <input #motivation type="file" class="custom-file-input">
                      <label class="custom-file-label">Choose motivation letter</label>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="3">
                  <input type="hidden" formControlName="candidateId" [ngModel]="candidateId">
                  <button class="btn btn-success" id="item" type="submit">Create Job Application</button>
                </td>
              </tr>
            </table>
          </form>
        </main>
      </section>
    </div>

  </div>

  <ng-template #loading>
    Loading...
  </ng-template>
  <br />
  <button class="btn btn-success" (click)="goBack()">go back</button>

</div>
