<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark box-header-border box-header-shadow" *ngIf="currentUserToken">
  <div class="container">
    <a class="navbar-brand LogoHomeBtn" routerLink="/home">Switch<span class="text-green">fully</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/candidates">Candidates</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="campaigns">Campaigns</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="jobapplications">JobApplications</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <span class="fas fa-user"> </span>&nbsp;
            <span class="label-title">Signed-in as: </span>
            <strong>{{CurrentUserName()}}</strong>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#" (click)="logout()">Sign-out</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Account settings</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
