<h1>Campaigns</h1>

<div class="table-responsive">
  <table id="mytable" class="table table-bordred table-striped">
     <thead>
       <th>ID</th>
       <th>Name</th>
       <th>Client</th>
       <th>StartDate</th>
       <th>EndDate</th>
       <th>Status</th>
     </thead>
<!--      <tr *ngFor= "let campaign of campaigns | async" >
       <td>{{campaign.id}}</td>
       <td>{{campaign.name}}</td>
       <td>{{campaign.client}}</td>
       <td>{{campaign.startDate}}</td>
       <td>{{campaign.endDate}}</td>
       <td>{{campaign.status}}</td>
     </tr>  -->
 </table>
 </div> 