<h1>New Candidate</h1>

<div class="table-responsive">
  <form [formGroup]="newCandidateForm" (ngSubmit)="createCandidate(newCandidateForm.value)">
    <table id="mytable" class="table table-bordred table-striped">
      <tr>
        <th><label for="firstName">FirstName: </label></th>
        <td><input type="text" formControlName="firstName"></td>
      </tr>
      <tr>
        <th><label for="lastName">LastName: </label></th>
        <td><input type="text" formControlName="lastName"></td>
      </tr>
      <tr>
        <th><label for="email">Email: </label></th>
        <td><input type="email" formControlName="email"></td>
      </tr>
     
      <div *ngIf="error.isError" class="alert alert-danger">
        {{ error.errorMessage }}
      </div>

      <tr>
        <td rowspan="2">
          <button type="submit">Create candidate</button>
        </td>
      </tr>
    </table>
  </form>
</div>
