<h1>New Candidate</h1>

<div class="table-responsive">
  <form [formGroup]="newCandidate" (ngSubmit)="createCandidate(newCandidate.value)">
    <table id="mytable" class="table table-bordred table-striped">
      <tr>
        <th><label for="firstName">FirstName: </label></th>
        <td><input type="text" formControlName="firstName"></td>
      </tr>
      <tr>
        <th><label for="lastName">LastName: </label></th>
        <td><input type="text" formControlName="lastName"></td>
      </tr>
      <tr>
        <th><label for="email">Email: </label></th>
        <td><input type="email" formControlName="email"></td>
      </tr>
      <tr>
        <button type="submit">Create candidate</button>
      </tr>
    </table>
  </form>
</div>
