<h2>New Candidate</h2>

<div class="table-responsive">
  <form [formGroup]="newCandidateForm" (ngSubmit)="createCandidate(newCandidateForm.value)">
    <table id="mytable" class="table table-bordred table-striped">
      <tr>
        <th><label for="firstName">FirstName: </label></th>
        <td><input type="text" formControlName="firstName" class="form-control" placeholder="Firstname">
          <p *ngIf="error.firstNameIsError" class="alert alert-danger">
              {{ error.firsNameErrorMessage }}
            </p></td>
      </tr>
      <tr>
        <th><label for="lastName">LastName: </label></th>
        <td><input type="text" formControlName="lastName" class="form-control" placeholder="Lastname">
          <p *ngIf="error.lastNameIsError" class="alert alert-danger">
              {{ error.lastNameErrorMessage }}
            </p></td>
      </tr>
      <tr>
        <th><label for="email">Email: </label></th>
        <td><input type="email" formControlName="email" class="form-control" placeholder="email@intakeApp.com">
          <p *ngIf="error.emailIsError" class="alert alert-danger">
              {{ error.emailErrorMessage }}
            </p></td>
      </tr>
      <tr>
        <th><label for="phone">Phone: </label></th>
        <td><input type="phone" formControlName="phone" class="form-control" placeholder="01234567889">
          <p *ngIf="error.phoneIsError" class="alert alert-danger">
              {{ error.phoneErrorMessage }}
            </p></td>
      </tr>
      <tr>
        <th><label for="linkedin">LinkedIn: </label></th>
        <td><input type="linkedin" formControlName="linkedin" class="form-control" placeholder="www.WhereToGo.com"></td>
      </tr>
      <tr>
        <th><label for="comment">Comment: </label></th>
        <td><input type="comment" formControlName="comment" class="form-control" placeholder="comment">
          <p *ngIf="error.commentIsError" class="alert alert-danger">
              {{ error.commentErrorMessage }}
            </p></td>
      </tr>


      <tr>
        <td colspan="2" class="text-center">
          <button type="submit" class="btn btn-success">Create</button>
          <button type="reset" class="btn btn-default pull-right"><a routerLink="/campaigns">Cancel</a></button>
        </td>
      </tr>
    </table>
    <p *ngIf="error.isError" class="alert alert-danger">
      {{ error.errorMessage }}
    </p>
  </form>
</div>
