<h2>Job Applications</h2>
<div class="table-responsive">
  <table id="mytable" class="table table-bordred table-striped border">
    <thead class="thead-green">
      <th>Id</th>
      <th>Candidate name</th>
      <th>Campaign name</th>
      <th>Status</th>
      <th>Selection step</th>
    </thead>
    <tr *ngFor="let jobapplicationoverview of jobapplications">
      <th><a routerLink="/jobapplications/{{jobapplicationoverview.id}}">{{jobapplicationoverview.id}}</a></th>
      <td>{{jobapplicationoverview.candidate}}</td>
      <td>{{jobapplicationoverview.campaign}}</td>
      <td>
        <span [ngClass]="{
          'badge badge-success':jobapplicationoverview.status === 'Active',
          'badge badge-danger':jobapplicationoverview.status === 'Rejected'
        }">
          {{jobapplicationoverview.status}}
        </span>
      </td>
      <td>
        <span class="badge badge-secondary">{{jobapplicationoverview.selectionStep}}</span></td>
    </tr>
    </table>
</div>
