<div *ngIf="campaign">
    <h2>{{campaign.name}}</h2>
    <div><span>id: </span> {{campaign.campaignId}}</div>
    <div><span>name: </span> {{campaign.name}}</div>
    <div><span>client: </span> {{campaign.client}}</div>
    <div><span>startDate: </span> {{campaign.startDate}}</div>
    <div><span>EndDate: </span> {{campaign.endDate}}</div>
    <div><span>campaign Status: </span> {{campaign.status}}</div>

    <!-- <button type = "submit"><a routerLink="/customerupdate/{{customer.id}}">Edit</a></button> -->
  </div>
  