   <div class='text-center'>
       <img  src='../assets/images/switchfully_logo.png'>
   </div>

    <app-header></app-header>

    <div class="container box-shadow" id="main-content">
        <div class="row">
            <div class="col-12">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>

    <footer class="footerWrap">
        <div class="footer">
            <div class="footerContent">
                <p id="page-footer">&copy; 2018 Switchfully | Switchfully Intake App</p>
            </div>
        </div>
    </footer>

