<div>
  <h2>Candidates</h2>
  <button class="btn createNewBtn" routerLink="/candidates/new">New Candidate</button>
</div>
<div class="table-responsive">
  <table id="mytable" class="table table-bordred table-striped border">
    <thead>
      <th>FirstName</th>
      <th>LastName</th>
      <th>Email</th>
      <th></th>
    </thead>
    <tr *ngFor="let candidate of candidates">
      <td>{{candidate.firstName}}</td>
      <td>{{candidate.lastName}}</td>
      <td>{{candidate.email}}</td>
      <td class="DetailBtnTdWidth"><button class="btn btn-success" routerLink="/candidates/{{candidate.id}}">Detail</button></td>
    </tr>
  </table>
</div>
