<div>
  <h2>Candidates</h2>
  <button class="btn createNewBtn" routerLink="/candidates/new">New Candidate</button>
</div>
<hr>
<div>
  <table id="mytable" class="table table-bordred table-striped border">
    <thead class="thead-green">
      <th>FirstName</th>
      <th>LastName</th>
      <th>Email</th>
    </thead>
    <tr *ngFor="let candidate of candidates">
      <th><a routerLink="/candidates/{{candidate.id}}">{{candidate.firstName}}</a></th>
      <td>{{candidate.lastName}}</td>
      <td>{{candidate.email}}</td>
    </tr>
  </table>
</div>
