body {
  background: #72a71f;
  background-image: linear-gradient(to right bottom, #72a71f, #5e8a1a, #4b6f15, #395410, #283b0b);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#main-content {
  padding-top: 3rem;
}

#page-footer {
  color: white;
}

a {
  color: #405c16;
}

a:hover {
  color: #72a71f;
  text-decoration: underline;
}

.thead-green {
    background: #72a71f;
    color: white;
}

.box-shadow {
  box-shadow: 0 0 2rem rgba(0,0,0, 0.25);
}

.box-section-shadow {
  box-shadow: 0.50rem -0.50rem 0.5rem rgba(0,0,0, 0.05);
}

.box-header-shadow {
  box-shadow: 0 0 1rem rgba(0,0,0, 0.25);
}

.box-light-background {
  background: rgba(255, 255, 255, 0.75);
}

.box-header-border {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.nav-link:hover  {
  text-decoration: underline;
}

.text-green {
  color:#72a71f;
}

.parent-section {
  padding: 3rem;
}

.sub-section {
  padding: 1rem 1rem 2rem 1rem;
  margin-top: 1rem;
}

.sub-section-complete {
  width: 1%;
  height: 0;
  border-style: solid;
  border-width: 2rem 5rem 0 5rem;
  border-color: rgba(255, 255, 255, 0.75) transparent transparent transparent;
}

.candidate-readonly, .campaign-readonly {
  padding: 1rem;
  background: rgba(0, 0, 0, 0.075);
  color: #555555;
}

.application-control-section {
  border: 2px dashed #c0c9b1;
  padding: 1rem;
  overflow:hidden;
}

.label-title {
  font-weight: bolder;
}

.sub-title {
  font-size: 1rem;
}

.btn-success {
  background-color: #72a71f;
}

.btn-success:hover {
  background-color: #405c16;
}
